# dependencies
node_modules/
.pnp
.pnp.*
.yarn/

# testing
coverage/

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem
*.log
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# Firebase
.firebase/
firebase-debug.log*
.firebaserc
